@import "variables.css";

:root {
  font-family: "Red Hat Text", sans-serif;
  text-transform: uppercase;
  color: var(--color-text-light);
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url("../images/bg-stars.svg");
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15vh;
}

.title {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 3rem 0 5rem 0;
}

.countdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.countdown-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.countdown-value-container {
  width: 10rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px var(--color-very-dark);
  position: relative;
}

.countdown-value {
  position: absolute;
  color: var(--color-text-numbers);
  font-size: 5.5rem;
}

.countdown-background {
  width: 100%;
  height: 50%;
  border-radius: 0.6rem;
  text-align: center;
  overflow: hidden;
}

.countdown-background-top {
  background-color: var(--color-dark-blue);
  border-bottom: 1px solid var(--color-very-dark-blue);
}

.countdown-background-bottom {
  background-color: var(--color-dark-desaturated-blue);
}

.semi-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-very-dark-blue);
}

.semi-circle-left {
  position: absolute;
  left: -0.5rem;
}

.semi-circle-right {
  position: absolute;
  right: -0.5rem;
}

.label {
  color: var(--color-text-accent);
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}

footer {
  background: url("../images/pattern-hills.svg");
  background-size: cover;
  width: 100vw;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  margin: 0.75rem;
}

.footer-icon svg {
  fill: var(--color-text-accent);
}

.footer-icon svg:hover {
  fill: var(--color-text-numbers);
  cursor: pointer;
}

/* responsive for mobile */
@media (max-width: 700px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 410px) {
  :root {
    font-size: 7px;
  }
}

@media (max-width: 280px) {
  :root {
    font-size: 6px;
  }
}
